/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron, h1, h2, a{
  color:  #01395B;
}

a:hover{
  color: #067470;
}

.jumbotron{
  background-image: url("../images/b1.jpg");
  padding-top: 130px;
  padding-bottom:130px;
  padding-left:0px;
}

#about .jumbotron{
  padding-top: 5px;
  padding-bottom:5px;
  padding-left:0px;
}

img{
  float: left;
  margin-right: auto;
}

h3{
  color: #BEBB70;
}

.jumbotron p{
  background-color: rgba(250 ,250,250,0.5);
  padding: 5px
}

nav{
  background-color: rgba(250 ,250,250,0.95);
}
